@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #75BF7A;
    --hover-color: #5DAE66;
    --btn-bg-color: #000;
    --btn-color: #fff;
    --bg-color: #f5f3f3;
    --text-color: #9E9DA2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    background-color: #fff;
}

header>.logo {
    width: 180px;
    height: auto;
}

header>nav {
    display: flex;
    gap: 46px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

nav a:hover {
    color: var(--primary-color);
}

nav a:hover::after {
    width: 100%;
}

.btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--hover-color);
}

.hero-section {
    height: 88vh;
    display: flex;
}

.hero-section>div {
    padding: 0 50px;
    flex: 1;
}

.hero-section-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.hero-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section-text h2 {
    font-size: 60px;
    font-weight: 800;
}

.hero-section-text p {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    width: 500px;
}

.hero-btns{
    display: flex;
    gap: 20px;
    align-items: center;
}

.black-btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 800;
    font-size: 22px;
    cursor: pointer;
}

.green-section{
    background: var(--primary-color);
    margin: 80px;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.green-section > p{
    color: #fff;
    font-size: 25px;
    font-weight: 600px;
    width: 260px;
    line-height: 1.5;
}

.green-section input{
    padding: 10px;
    font-size: 20px;
}

.green-section div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.green-section input{
    width: 500px;
    height: 65px;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 0 25px;
    font-size: 18px;
    background-color: #fff;
}

.green-section input::placeholder{
    color: var(--text-color);
    font-size: 18px;
}

.green-section .black-btn{
    height: 65px;
    padding: 0 30px;
    font-size: 18px;
    border-radius: 6px;
}

.how-works{
    width: 100%;
    padding: 100px 80px;
}

.section-heading{
    text-align: center;
    margin-bottom: 90px;
}

.section-heading h2{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

.section-heading h2 span{
    color: var(--primary-color);
}

.section-heading p{
    max-width: 500px;
    margin: auto;
    font-size: 20px;
    color: var(--text-color);
}

.works-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    position: relative;
}

.works-left,
.works-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    flex: 1;
}

.work-card{
    width: 290px;
    display: flex;
    flex-direction: column;
}

.work-card p{
    color: var(--text-color);
}

.left-card{
    align-items: flex-end;
    text-align: right;
    margin-left: auto;
}

.right-card{
    align-items: flex-start;
    text-align: left;
}

.step-img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 20px;
    display: block;
}

.mobile-center{
    width: 450px;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background: var(--primary-color);
    position: absolute;
}

.mobile-img{
    position: relative;
    z-index: 2;
}
