@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #75BF7A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

header>.logo {
    width: 180px;
    height: auto;
}

header>nav {
    display: flex;
    gap: 46px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

nav a:hover {
    color: var(--primary-color);
}

nav a:hover::after{
    width: 100%;
}

.btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

